.home__display-area {
  padding: 0 15%;
}

.home__search-area {
  position: sticky;
  top: 0;
  z-index: 10;
}

.hero-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .hero-card-container {
    flex-basis: 20%;
  }

  .home-loading {
    margin: 32px;
    text-align: center;
  }

  .home__pagination {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
  }

  .home__pagination__button {
    flex-basis: 20%;
    background: #fff;
    border: none;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
    cursor: pointer;
  }