.search-hero-container {
    padding: 16px 0;
    background: rgba(255, 0, 0, 0.9);
    text-align: center;
}

.search-hero__input {
    margin-top: 16px;
    padding: 8px;
    width: 450px;
    border-radius: 4px;
    outline: none;
    appearance: none;
    border: none;
    box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 30%);
    background: #fff;
}